<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Reader</title>
</head>
<body>


<p th:text="${person.getPersonId()}">VALUE</p>
<p th:text="${person.getName()}">VALUE</p>
<p th:text="${person.getBirthYear()}">VALUE</p>
<hr/>

<div th:if="${books.isEmpty()}">
    <p>Человек пока не взял ни одной книги</p>
</div>

<div th:if="${!books.isEmpty()}">
    <b>Книги:</b>
    <br/>
    <table th:each="book : ${books}">
        <tr th:text="${book.getName() + ',   ' + book.getAuthor() + ',  ' + book.getReleaseYear()}">book</tr>
    </table>
</div>


</br>
<a th:href="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Edit">
</a>
<a style="margin-left: 150px">   </a>
<form th:METHOD="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Delete">
</form>
</body>
</html>